@model ULDeneme.ViewModel.VocabularyViewModels.VocabularyCreateVM

<form asp-action="Create" asp-route-sozlukID="@ViewBag.SozlukID" id="createForm">
    <div class="row">
        <div class="form-group col-12 col-md-6" style="padding-top:12px">
            <div class="row">
                <div class="col-9">
                    <div class="input-group">
                        <input asp-for="UnKVoc" class="form-control" id="UnKVoc" placeholder="Unknown Word" />
                    </div>
                </div>
                <div class="col d-flex align-items-center">
                    <div class="input-group-append">
                        <button type="button" onclick="textToSpeech()" style="border: none; background: transparent; outline: none;"><i class='fas fa-volume-down' style='font-size:24px;color:cornflowerblue'></i></button>
                    </div>
                </div>
                <span asp-validation-for="UnKVoc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-12 col-md-6" style="padding-top:12px">
            <div class="row">
                <div class="col-9">
                    <div class="input-group">
                        <input asp-for="KVoc" class="form-control" id="KVoc" placeholder="Translated Word" />
                    </div>
                </div>
                <div class=" col">
                    <div class="input-group-append">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
                <span asp-validation-for="KVoc" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    var input = $("#UnKVoc");

    input.on("focusout", function() {
        var text = input.val();
        var fromLang = "@ViewBag.UnknownLangShort";
        var toLang = "@ViewBag.KnownLangShort";

        if (text.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Translation/Suggest",
                data: { word: text, fromLang: fromLang, toLang: toLang },
                success: function (data) {
                    var suggestionList = $("#suggestion-list");
                    suggestionList.empty();
                    if (data.length > 0) {
                        var suggestedText = data[0];
                        $("#KVoc").val(suggestedText);
                    }
                }
            });
        }
    });
});
async function textToSpeech() {
    const text = document.getElementById("UnKVoc").value;
    const language = "@ViewBag.UnknownLangShort";

    if (text.length > 0) {
        const response = await fetch("/api/Speech/synthesize", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({text: text, language: language})
        });

        if (response.ok) {
            const audioData = await response.arrayBuffer();
            const audioBlob = new Blob([audioData], { type: "audio/mp3" });
            const audioUrl = URL.createObjectURL(audioBlob);
            const audio = new Audio(audioUrl);
            audio.play();
        } else {
            console.error("Speech synthesis failed:", await response.text());
        }
    }
}
</script>